/* xs
@media (min-width: 475px) {

} */

/* sm
@media (min-width: 640px) {
      
} */

/* md
@media (min-width: 768px) {
 
} */

/* lg
@media (min-width: 1024px) {

} */

/* xL
@media (min-width: 1280px) {

} */

/* 2xL
@media (min-width: 1536px) {

} */

:root {
    --clr-light: #ffffff91;
    /* --clr-light: #F3EAE1; */
    --clr-green: #006B61;
    --clr-dark: #1A2D2B;
    --clr-orange: #FD871A;

    --size-xxs: 0.75rem;
    --size-xs: 1rem;
    --size-sm: 1.125rem;
    --size-base: 1.25rem;
    --size-lg: 1.5rem;
    --size-xl: 1.75rem;
    --size-2xl: 2rem;
    --size-3xl: 2.5rem;
    --size-4xl: 3rem;
    --size-6xl: 4rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-light);
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a {
    color: var(--clr-dark);
    cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05rem;
    padding: 0.5em 1em;
    border-radius: 6px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
}

.section {
    margin-top: 5rem;
}



/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }       
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }   
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    .section {
        margin-top: 5rem;
    }
}

/* xL */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* 2xL */
@media (min-width: 1536px) {
    .container {
        max-width: 1436px;
    }
}